<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Employee ID</label>
        <input type="text" class="form-control" name="id" formControlName="id" #id [(ngModel)] = "employee.id" disabled/>
      </div>
      <div *ngIf="angForm.controls['id'].invalid && (angForm.controls['id'].dirty || angForm.controls['id'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['id'].errors.required">
          Employee ID is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Name</label>
        <input type="text" class="form-control" name="name" formControlName="name" #name [(ngModel)] = "employee.name"/>
      </div>
      <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['name'].errors.required">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Department</label>
        <input type="text" class="form-control" name="departmen" formControlName="departmen" #departmen [(ngModel)] = "employee.departmen"/>
      </div>
      <div *ngIf="angForm.controls['departmen'].invalid && (angForm.controls['departmen'].dirty || angForm.controls['departmen'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['departmen'].errors.required">
          Department is required.
        </div>
      </div>

      <div class="form-group">
        <button (click)="updateEmployee(id.value, name.value, departmen.value)" [disabled]="angForm.invalid" class="btn btn-primary">Edit Employee</button>
      </div>

    </form>
  </div>
</div>